In [ ]:
import numpy as np
import pandas as pd

In [ ]:
s = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
df = pd.read_csv(s, header = None)

In [ ]:
# print("class labels", np.unique(df))

In [ ]:
X = df.iloc[:,[2,3]]

In [ ]:
y = df.iloc[:,4]

In [ ]:
X

       2    3
0    1.4  0.2
1    1.4  0.2
2    1.3  0.2
3    1.5  0.2
4    1.4  0.2
..   ...  ...
145  5.2  2.3
146  5.0  1.9
147  5.2  2.0
148  5.4  2.3
149  5.1  1.8

[150 rows x 2 columns]

In [ ]:
dict = {"Iris-setosa" : 0, 'Iris-versicolor':1, 'Iris-virginica' :2}

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 1,stratify = y)

In [ ]:
print("Labels count in y",np.bincount(y.map(dict)))

Labels count in y [50 50 50]

In [ ]:
np.unique(y.map(dict))

array([0, 1, 2])

In [ ]:
y = y.map(dict)

In [ ]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: 4, Length: 150, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 1,stratify = y)

In [ ]:
from sklearn.preprocessing import StandardScaler

sc  = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [ ]:
from sklearn.linear_model import Perceptron

pnn = Perceptron(eta0 = 0.01, random_state = 1,max_iter = 30)
pnn.fit(X_train_std,y_train)

Perceptron(eta0=0.01, max_iter=30, random_state=1)

In [ ]:
y_pred = pnn.predict(X_test_std)
print((y_test != y_pred).sum())

3

In [ ]:
y_subpred = pnn.predict(X_train_std)
print((y_train != y_subpred).sum())

11

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.9333333333333333